{% for event in events %}
    <div class="event">
        <a href="{{ event.url }}" target="_blank" rel="noopener noreferrer" class="tournament-name">
            {{ event.name }}
        </a>
        <a href="{{ event.url }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ event.img }}" alt="{{ event.alt }}" loading="lazy" />
        </a>
        <div class="event-date">{{ event.date }}</div>
        <a class="more-info" href="{{ event.url }}" target="_blank" rel="noopener noreferrer">More Info</a>
    </div>
{% else %}
    <p>No upcoming events at this time.</p>
{% endfor %}